<div class="bg">
  <h1 style="text-align: center"> Welcome to PingMe</h1>
  <h4 class="ui center aligned medium icon header">
    <i class="circular red users icon"></i>
    Say Something
  </h4>

  <div class="ui four column grid">
    <div class="one wide column">

    </div>
    <!-- Chat Box -->
    <div class="ten wide column">
      <div class="ui fluid raised card chatbox">
        <div class="content">
          <div class="ui feed">
            <h4 class="ui fuzzy wuzzy brown header">Message</h4>
            <div class="event">
              <div class="content">
                <div class="summary">
                   <em>Elliot Fu</em>: test message
                </div>
              </div>
            </div>
            <div class="event">
              <div class="content">
                <div class="summary">
                   <em>Stevie Feliciano</em>: test message
                </div>
              </div>
            </div>
            <div class="event">
              <div class="content">
                <div class="summary">
                   <em>Helen Troy</em>: test message
                </div>
              </div>
            </div>
            <div class="event">
              <div class="content">
                <div class="summary">
                   <em>Christian Rocha</em>: test message
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="extra content">
          <form class="ui reply form">
            <div class="field">
              <div class="ui fluid icon input">
                <input type="text" placeholder="Enter your message...">
                <i class="bordered inverted green edit icon"></i>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- vertical menu -->
    <div class="four wide column">
        <div class="ui fluid raised card chatbox">
          <div class="content">
            <div class="ui inverted vertical menu">
              <a class="active item">
                Home
              </a>
              <a class="item">
                Messages
              </a>
              <a class="item">
                Friends
              </a>
            </div>
          </div>
        </div>
    </div>
  </div>
  <h4 class="ui center aligned medium icon header">
    Feel free to text here..
  </div>
</div>
