@import "semantic-ui";

.chatbox {
  height: 430px;
}
.bg {
  background-image: url('bg2.jpeg') !important;
  background-size: cover;
  height: 680px;
}
#messages {
  height: 15em;
  overflow: auto;
}

.input {
  button {
    display:none;
  }
}
